[submodule "3rdparty/generic_onnx_inferencer_pipeline-cpp"]
	path = 3rdparty/generic_onnx_inferencer_pipeline-cpp
	url = https://github.com/neoluxis/generic_onnx_inferencer_pipeline-cpp.git
[submodule "3rdparty/unitransmit-cpp"]
	path = 3rdparty/unitransmit-cpp
	url = https://github.com/neoluxis/unitransmit-cpp.git
