name: auto-merge

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  approve-and-merge:
    runs-on: ubuntu-latest
    if: github.actor == github.repository_owner
    steps:
      - name: Wait for checks to pass
        # 这个步骤是可选的，因为 Ruleset 会强制拦截。
        # 但加上这个 action 可以让合并在绿的一瞬间自动触发。
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          check-regexp: '(lint|build)'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10

      - name: Auto approve
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable auto-merge
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
